<nav class="navbar navbar-expand-md navbar-inverse fixed-top">
    @Html.ActionLink("Street Vendors", "Index", "Home", new { area = "" }, new { @class = "navbar-brand btn btn-outline-light text-info mr-3" })
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                @Html.ActionLink("Market Place", "Index", "MarketPlace", new { area = "" }, new { @class = "btn btn-outline-info mr-md-4" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Map", "Index", "Map", new { area = "" }, new { @class = "btn btn-outline-info mr-md-4" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("My Shop", "Index", "Items", new { area = "" }, new { @class = "btn btn-outline-info mr-md-4" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Community", "Index", "Community", new { area = "" }, new { @class = "btn btn-outline-info mr-md-4" })
            </li>
        </ul>
        @Html.Partial("_LoginPartial")
    </div>
</nav>

